<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="../style/main.css">
	</head>

	<body>
		<!-- BEGIN FOOTER -->

		<div style="margin-bottom: 200px;">
		</div>

		<footer>
			<div class="container">
				<div>
					<p class="white">
						123 Busit Drive
						<br /> Ottawa, Ontario
						<br /> A1A 1A1
					</p>
				</div>
				<div>
					<p class="white">
						Contact us!
						<br />Email: contact@busit.org
						<br />Facebook: BusIt
						<br />Phone: (123) 456-7890
					</p>
				</div>
				<div>
					<p class="white">
						123 Busit Drive
						<br /> Ottawa, Ontario
						<br /> A1A 1A1
					</p>
				</div>
			</div>
		</footer>

		<!--  END FOOTER  -->
	</body>

</html>
