@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	color: red;
	font-family: 'Roboto', sans-serif;
}

p {
	font-weight: normal
}

p.white {
	color: #F5F5F5;
}

.centre {
	text-align: center;
}

.right {
	text-align: right;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFFBEF;
	padding-right: 1px;
}

li.navbar.right {
	float: right;
}

li.navbar.right a {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	display: block;
	color: black;
	text-align: center;
	padding-top: 21px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	text-decoration: none;
}

li.navbar.right a:hover {
	margin: -1px;
	border-radius: 10px;
	border: 1px solid #FF444D;
	color: #7F2226;
	transition: color 0.5s ease;
}

li.navbar.image {
	float: left;
	padding-right: 40px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
}

footer {
	color: #F5F5F5;
	background-color: #333;
	width: 99%;
	bottom: 0;
	position: fixed;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container {
  display: flex;
  text-align: center;
}

.container > div {
  flex: 1;
}

.main-title {
	color: #550000;
	font-size: 8em;
	margin-top: 0%;
	margin-bottom: 5%;
}

.main-subtitle {
	color: #660000;
	font-size: 2em;
	margin-bottom: 5%;
}

.subheader {
	color: #660000;
	font-size: 1.5em;
}

.justify {
	text-align: justify;
	text-justify: inter-word;
}

.footer-text {
	margin: 0 5% 0 5%;
}